.place__title {
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 1.09;
    }
    
}

@media screen and (max-width: 600px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin-left: 16px;
    }
    
}