.lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 1.04;
    font-weight: 900;
    text-align: center;
    margin: 0 auto 0;
}

@media screen and (max-width: 690px) {
    .lead__title {
        max-width: 488px;
        font-size: 60px;
        line-height: 1.1;
    }
    
}

@media screen and (max-width: 500px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
    
}