.place__paragraph {
    font-size: 18px;
    line-height: 29px;
    font-weight: normal;
    margin: 0;
}

.place__paragraph:last-child {
    margin-top: 26px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 1.63;
    }
    
}

@media screen and (max-width: 600px) {
    .place__paragraph {
        margin-right: 16px;
        margin-left: 16px;
    }
    
}